/.bundle
/vendor
/coverage
/tmp
/node_modules
/spec/files
/spec/fixtures
/doc
**/*.json
**/*.haml
**/*.yml
**/*.md
**/*.sh
**/.*
tags
package-lock.json
yarn.lock
/log
/build
/.circleci
/.git
/.github
**/*.erb
**/*.tgz
*.lock
/bin
/lint
/.tool-versions
Gemfile
gemfiles/*.gemfile
