/.bundle
/.bin
/vendor
/coverage
/db
/tmp
/app/assets
/node_modules
/public
/spec/files
/spec/fixtures
/spec/javascripts
/bower_components
/doc
/content
**/*.json
**/*.haml
**/*.html
**/*.yml
**/*.md
**/*.sh
**/.*
tags
Procfile
package-lock.json
/log
/build
/script
/profile
/.circleci
/.coditsu
/.git
/.github
**/*.erb
**/*.tgz
**/*.feature
**/*.sql
**/*.csv
*.lock
/bin
/lint
Gemfile
apps/apps/karafka_consumer/Gemfile
